@charset "utf-8";
.main .inner .kuang1 ul{
    width: 1190px;
    height: 42px;
    border: 1px solid #dcdcdc;
    background: #f5f5f5;
}
.header form .search{     
    margin-left: 288px;
}
.main .inner .kuang1 .lili9 .quanxuan{  
    font: 12px/41px "宋体";
   padding-left: 49px;
    color: #646464;
}
.main .inner .kuang1 .lili9 .quanxuan input{    
    padding-right: 5px;
    margin-right: 10px;
}
.main .inner .kuang1 .lili9 .shangpin02{    
    font: 12px/41px "宋体";
    padding-left: 162px;
    color: #646464;
}
.main .inner .kuang1 .lili9 .danjia{
    font: 12px/41px "宋体";
    padding-left: 277px;
    color: #646464;
   }
   .main .inner .kuang1 .lili9 .shuliang{    
    font: 12px/41px "宋体";
    padding-left: 139px;
    color: #646464;
}
.main .inner .kuang1 .lili9 .xiaoji{    
    font: 12px/41px "宋体";
    padding-left: 149px;
    color: #646464;
}
.main .inner .kuang1 .lili9 .caozuo{    
    font: 12px/41px "宋体";
    padding-left: 164px;
    color: #646464;
}
.main .inner .kuang1 .bala input{ 
   margin-right: 12px;
  
}
.main .inner .shoujilan1 .images99 img{   
    width: 51px;
    height: 64px; 
    padding-top: 22px;
}
.main .inner .shoujilan1 ul .xiaoanniu input{ 
    margin-top: 28px;
    margin-right: 14px;
    color: #cfcfcf;
    margin-left: 46px;
}
.main .inner .shoujilan1 ul .apple1{
    font: 13px/17px "宋体";
    color: #343434;
    height: 20px;
    padding-left: 13px;
   padding-top: 22px;
}
.main .inner .shoujilan1 ul .dianxin{    
    font: 13px/17px "宋体";
    color: #343434;
    height: 20px;
    padding-left: 13px;
}

.main .inner .shoujilan1 ul .qianqian{ 
    font: 17px "Arial";
    padding-top: 22px;
    padding-left: 90px;
   }
   
   .main .inner .shoujilan1 ul .span1{ 
    border: 1px solid #cdcdcd;
    width: 28px;
    height: 28px;
    color: #cdcdcd;
    font-size: 25px;
   margin-top: 22px;
   text-align: center;
   margin-left: 84px;

} 
.main .inner .shoujilan1 ul .kongdi{    
    width: 43px;
    height: 28px;
    border: 1px solid #cdcdcd;
    margin-top: 22px;

}
.main .inner .shoujilan1 ul .jiahao1{ 
    border: 1px solid #cdcdcd;
    width: 28px;
    height: 28px;
    color: #5f5f5f;
    font-size: 25px;
   margin-top: 22px;
   text-align: center;
   
}
   

.main .inner .shoujilan1 ul .qian{  
    font: 17px "Arial";
    color: #ef7124;
    padding-top: 22px;
    padding-left: 100px;
}
.main .inner .shoujilan1 ul .shanchu{
    font: 12px/17px "宋体";
    color: #fe0000;
    height: 20px;
    padding-left: 142px;
    padding-top: 22px;
}
.main .inner .shoujilan1 ul .yanse{ 
    font: 13px "宋体";
    color: #8e8e8e;
   padding-top: 22px;
}
.main .inner .shoujilan1 ul .xinghao100{   
    padding-left: 24px;
}
.main .inner .shoujilan1 ul .cangjia{   
    font: 12px "宋体";
    color: #313131;
    padding-top: 15px;
    padding-right: 20px;
}
.main .inner .xiabufen{ 
    margin-top: 38px;
    width: 1190px;
    height: 90px;
    background: #f9f9f9;
}
.main .inner .xiabufen .anniu2 input{ 
    
    margin-left: 47px;
    margin-top: 30px;
}
.main .inner .xiabufen .lift02 .shanchule{  
    font: 12px/17px "宋体";
    color:#f76a25;
    padding-top: 25px;
    padding-left: 31px;
}
.main .inner .xiabufen .lift02 .xuanze3{   
font: 12px "宋体";
color:#646464;
padding-top: 30px;
margin-right: 58px;
}
.main .inner .xiabufen .lift02 .zongjia1{   
    font: 12px "宋体";
color:#646464;
padding-top: 30px;

}
.main .inner .xiabufen .yyy .youhui01{   
    font: 12px/24px "宋体";
    color:#646464;
   padding-left: 24px;
}
.main .inner .xiabufen .lift02 .xuanze3 .yiyi{    
    color: #f67732;
    font: 12px "宋体";
}
.main .inner .xiabufen .yyy .heji span{  
    font: 17px "Arial";
    color: #ea7919;
}
.main .inner .xiabufen .yyy .heji{  
    font: 12px "宋体";
    color: #646464;
}
.main .inner .tijiao09 .jixu09 a{ 
    border: 1px solid #f36c10;
    width: 184px;
    height: 44px;
    font: 18px/44px "微软雅黑";
    color:#313131;
    text-align: center;
    margin-right: 100px;
    display: inline-block;
    
}
.main .inner .tijiao09 .tijiao00 a{ 
    border: 1px solid #f36c10;
    width: 184px;
    height: 44px;
    font: 18px/44px "微软雅黑";
   color: #fffcfa;
    text-align: center;
   background: #f26b11;
   display: inline-block;
  
    
}

/*.main .inner .xiabufen .bbb{    
    font: 12px/24px "宋体";
    color:#646464;
}*/

.main .inner .tijiao09{
    line-height: 103px;
}
.header form .search .one98{
    width: 79px;
}
